body {
	margin: 0;
    background-image: url("../images/moon-478982_1920.jpg");
    background-size: 1440px 800px;
    background-repeat:repeat;
    font-family: 'Rubik Mono One', sans-serif;

}

.jumbotron {
	text-align:center;
	padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFFFC7;

}
#howto {
	margin-top: 30px;
}
#howto p {
	font-family:'Open Sans', sans-serif;
	text-align: left;
	color: black;
	font-size: 18px;
	font-weight: bold;
}


.panel-heading {
	background-color: black;
}

.panel-body {
	font-size: 55px;
	text-align: center;
}









@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.gem:hover,
.gem:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}