body {
	margin: 0;
    background-image: url("../images/moon-478982_1920.jpg");
    background-size: 1440px 800px;
    background-repeat:repeat;
    font-family: 'Rubik Mono One', sans-serif;

}

.jumbotron {
	text-align:center;
	padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFFFC7;

}
#howto {
	margin-top: 30px;
}
#howto p {
	font-family:'Open Sans', sans-serif;
	text-align: left;
	color: black;
	font-size: 18px;
	font-weight: bold;
}


.panel-heading {
	background-color: black;
}

.panel-body {
	font-size: 55px;
	text-align: center;
}

#blue {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

 #green {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

 #yellow {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;

 }

 #red {
 	
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
 }